<a href="https://colab.research.google.com/github/KariGG/CyP2022G1157/blob/main/Clase11-Nov-2021.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Tipos de dato estructurado en Python

1. Listas
2. Tuplas
3. Diccionarips
4. Conjuntos (opcional)

##Listas
- Tipo de dato que agrupa valores.
- Estructura secuencial
- Se declara con de 2 formas:
    - Usando []
    - Usando list()
- Puede contener tipos de dato diversos, en otros lenguajes de programación eso no es posible de forma directa.
- Los elementos internos se seleccionan con []
- Soporta slicing
- SON MUTABLES (puede cambiar su valor)
- GENERADORES [var for x in range(10)]
- Al ser una clase contiene muchos métodos útiles

In [ ]:
numeros = [10,5,2,3,1]
print (numeros)

num2 = list()
num2.append(10)
num2.append(5)
num2.append(2)
num2.append(3)
num2.append(1)
print(num2)
numeros[2]=20
numeros[-1]=33
print (numeros)

[10, 5, 2, 3, 1]
[10, 5, 2, 3, 1]
[10, 5, 20, 3, 33]

In [ ]:
# Tipos diversos
cosas=[12, 2, True, "Kari", 1.57, ["Kiwi", "Piña", "Fresa"]]
print(cosas)
print(cosas[1])
print(cosas[4])
print(cosas[5][1])
print(cosas[3][1:3])

[12, 2, True, 'Kari', 1.57, ['Kiwi', 'Piña', 'Fresa']]
2
1.57
Piña
ar

In [ ]:
nums = [1,2,3,4,5,6,7,8,9,10,11]
print(nums)
#Slicing
#1. print del 4 al 8
print(nums[3:8])
#2. print del 9 al 10
print(nums[8:10])
print(nums[-3:-1])
#3. print lista en orden inverso
print(nums[::-1])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
[4, 5, 6, 7, 8]
[9, 10]
[9, 10]
[11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
#Crear lista con generador

generada = [x for x in range(101)]
deTantoNtanto = [x*3 for x in range(101)]
print(generada)
print(deTantoNtanto)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]
[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99, 102, 105, 108, 111, 114, 117, 120, 123, 126, 129, 132, 135, 138, 141, 144, 147, 150, 153, 156, 159, 162, 165, 168, 171, 174, 177, 180, 183, 186, 189, 192, 195, 198, 201, 204, 207, 210, 213, 216, 219, 222, 225, 228, 231, 234, 237, 240, 243, 246, 249, 252, 255, 258, 261, 264, 267, 270, 273, 276, 279, 282, 285, 288, 291, 294, 297, 300]

# Función range()
Función range tiene los mismos componentes que slicing.
inicio, stop, incremento
range(1, 101, 1

In [ ]:
funcRange = [x for x in range(50,101,2)]
print(funcRange)

[50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

#Métodos disponibles de las lista

In [ ]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
nums = [4,1,2,3,8,45]
print(nums)
nums.append(99)
print(nums)

#Vaciar lista
nums.clear()
print(nums)
nums = [] #de preferencia hacerlo con clear
print(nums)

frutas = ["Kiwi", "Piña", "Fresa"]
copia = frutas #Hace referencia a la ubicación de la lista, por eso se afecta también
print(frutas)
print(copia)
frutas.append("Banana")
print(frutas)
print(copia)

colores =["Pink", "Blue", "Green", "Grey"]
copia2 = colores.copy() #Copia tal cual, como si fuera otra variable, por eso no se modifica
print(colores)
print(copia2)
colores.append("Yellow")
print(colores)
print(copia2)

numbers =[x for x in range(101)]
print ("Número de veces que aparece el 2=", numbers.count(2))

#Agregar a la lista
nombres = ["John", "Kari", "Tom"]
otrosNombres = ["Emily", "Susan", "Pam"]
print (nombres)
print(otrosNombres)
nombres = nombres + otrosNombres
print (nombres)
print(otrosNombres)

#Lo mismo con el método extend
otrosNombres.extend(["Mike", "Kevin","Zealand"])
print(otrosNombres)

#Índice
print("Tom está en la posición= ", nombres.index("Tom"))

#Insertar valores en cualquier posición y mueve los demás a la izq.
otrosNombres.insert(4, "Iván")
print(otrosNombres)

#Pop quita el último elemento y te lo regresa en otra variable
resultado = otrosNombres.pop()
print(otrosNombres)
print(resultado)

[4, 1, 2, 3, 8, 45]
[4, 1, 2, 3, 8, 45, 99]
[]
[]
['Kiwi', 'Piña', 'Fresa']
['Kiwi', 'Piña', 'Fresa']
['Kiwi', 'Piña', 'Fresa', 'Banana']
['Kiwi', 'Piña', 'Fresa', 'Banana']
['Pink', 'Blue', 'Green', 'Grey']
['Pink', 'Blue', 'Green', 'Grey']
['Pink', 'Blue', 'Green', 'Grey', 'Yellow']
['Pink', 'Blue', 'Green', 'Grey']
Número de veces que aparece el 2= 1
['John', 'Kari', 'Tom']
['Emily', 'Susan', 'Pam']
['John', 'Kari', 'Tom', 'Emily', 'Susan', 'Pam']
['Emily', 'Susan', 'Pam']
['Emily', 'Susan', 'Pam', 'Mike', 'Kevin', 'Zealand']
Tom está en la posición=  2
['Emily', 'Susan', 'Pam', 'Mike', 'Iván', 'Kevin', 'Zealand']
['Emily', 'Susan', 'Pam', 'Mike', 'Iván', 'Kevin']
Zealand

#Tuplas
###Características
- Datos agrupados
- Se declara usando:
  - ()
  - tuple()
- Estructura secuencial, indexada a partir de 0
- Pueden tener de 0 a n elementos
- NO SON MUTABLES (No se puede eliminar y/o cambiar)
- Son buenas para almacenar información de consulta
- Pueden alamacenar info. de diferentes tipos de dato
- Pueden estar anidadas
- Tienen métodos útiles

#Métodos de las tuplas()
Son los mismos de las listas pero los que ***no involucren mutabilidad***

In [ ]:
info = ("CottonCandy" , "morningstar" , "123.232.1.12")
print(info)
print (info[1])
#info[1] = "patitoRS" << no va a funcionar porque no es mutable

cash = (0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15)
print(cash)
print(cash[5:11])

cosas = ( info, cash )
print(cosas)
print(cosas[1][5:11])
print(cosas[0][2][4:7])
print(cosas[0][2][-8:-5])

('CottonCandy', 'morningstar', '123.232.1.12')
morningstar
(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15)
(5, 6, 7, 8, 9, 10)
(('CottonCandy', 'morningstar', '123.232.1.12'), (0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15))
(5, 6, 7, 8, 9, 10)
232
232

# Diccionarios
### Características:

- Agrupan datos de forma no lineal
- Se declaran con: 
  - { } """Se recomienda éste"""
  - dict()
- Formado por pares del tipo llave:valor. Los valores internos de un diccionario van a ser pares (llave & valor) donde:
  - llave es de tipo string (forever)
  - valor puede ser de cualquier tipo de dato, incluyendo los diccionarios
- Se seleccionan con la llave de la forma: ["idLlave"]
- Son mutables y anidables
- Son equivalentes al tipo de dato JSON del lenguaje JavaScript

In [ ]:
student = { "name" : "Kari" }
print (student)
print (student ["name"])
student = {"name":"Kari", "acc":"332211", "age":"24"}
print ("Students age:",student ["age"], "years old")

print (student ["name"].upper())

student2 = dict() #={}
student2 ["name"] = "Kevin"
print(student2)
student2 ["acc"] = "889944"
student2 ["age2"] = 48
print(student)
print(student2)

student2 ["age2"] = student2 ["age2"] + 1
print(student2["age2"])

{'name': 'Kari'}
Kari
Students age: 24 years old
KARI
{'name': 'Kevin'}
{'name': 'Kari', 'acc': '332211', 'age': '24'}
{'name': 'Kevin', 'acc': '889944', 'age2': 48}
49

In [5]:
client = {"id":"CCK21", 
          "name" : "Candy Morningstar",
          "tels":"cel = 5519166181 local = 5512345678"}
print(client)

client = {"id":"CCK21", 
          "name" : {
              "firstName" : ["Cotton" , "Candy"],
              "lastName" : "Morningstar"
            },
          "tels": {"cel" : "5519166181", 
                   "local" : "5512345678",
                   "work" : "5544226688"
            },
          "products" : {
              "savingsAcc" : { "accNumber" : "242021", "savings" : 2000000.5},
              "cards" : [
                              {"type": "Credit", "limit": 50000000},
                              {"type": "Debit", "amount" : 50000},
                              {"type": "Lite", "limit": 250000},
                              {"type": "Black"},
                              
                ]
            },
          "direction" : {
              "street" : "5th Avenue",
              "num" : 562,
              "appartment" : 25,
              "state" : {
                  "name" : "New York",
                  "code" : 364
                }
           }
        }
print(client)
print(client ["tels"]["cel"])
print("Your savings:", client ["products"]["savingsAcc"]["savings"])
print("Your Lite card credit limit is:", client ["products"]["cards"][2]["limit"])
print("Your state is:", client ["direction"]["state"]["name"].upper())
client ["products"]["savingsAcc"]["savings"]-= 1500
print("Your savings:", client ["products"]["savingsAcc"]["savings"])
#print(cliente["productos"]["ahorro"]["ahorro"]-1500)

{'id': 'CCK21', 'name': 'Candy Morningstar', 'tels': 'cel = 5519166181 local = 5512345678'}
{'id': 'CCK21', 'name': {'firstName': ['Cotton', 'Candy'], 'lastName': 'Morningstar'}, 'tels': {'cel': '5519166181', 'local': '5512345678', 'work': '5544226688'}, 'products': {'savingsAcc': {'accNumber': '242021', 'savings': 2000000.5}, 'cards': [{'type': 'Credit', 'limit': 50000000}, {'type': 'Debit', 'amount': 50000}, {'type': 'Lite', 'limit': 250000}, {'type': 'Black'}]}, 'direction': {'street': '5th Avenue', 'num': 562, 'appartment': 25, 'state': {'name': 'New York', 'code': 364}}}
5519166181
Your savings: 2000000.5
Your Lite card credit limit is: 250000
Your state is: NEW YORK
Your savings: 1998500.5

In [12]:
#Ejercicio

movie= {"name" : "Avengers",
        "characters": [
               "Iron Man",
                "Captain America",
                "Thor",
                "Hulk",
                "Black Widow",
                "Hawkeye"],
        "cast":{
                "Iron Man" : "RDJ mailov <3",
                "Captain America" : "Chris Evans",
                "Thor" : "Chris Hemsworth",
                "Hulk" : "Mark Ruffalo",
                "Black Widow" : "Scarlett Johanson",
                "Hawkeye" : "Jeremy Renner"
             },
        "directors" : ["Joe Russo", "Anthony Russo", "Joss Whedon", "Cate Shortland"],
        "resumen" : "Es una película de superhéroes estadounidense de 2012 basada en el equipo de superhéroes homónimo de Marvel Comics, producida por Marvel Studios y distribuida por Walt Disney Studios Motion Pictures, en colaboración con Paramount Pictures.N 1​ Es la sexta película del Universo cinematográfico de Marvel (MCU). "
        }
print(movie)

{'name': 'Avengers', 'characters': ['Iron Man', 'Captain America', 'Thor', 'Hulk', 'Black Widow', 'Hawkeye'], 'cast': {'Iron Man': 'RDJ', 'Captain America': 'Chris Evans'}, 'directors': ['Joe Russo', 'Anthony Russo', 'Joss Whedon', 'Cate Shortland'], 'resumen': 'Es una película de superhéroes estadounidense de 2012 basada en el equipo de superhéroes homónimo de Marvel Comics, producida por Marvel Studios y distribuida por Walt Disney Studios Motion Pictures, en colaboración con Paramount Pictures.N 1\u200b Es la sexta película del Universo cinematográfico de Marvel (MCU). '}

#Estructuras de **Control de Programación**


###A nivel de programación general

Se puede crear cualquier tipo de algoritmo empleando solamente 3 estructuras de control:

> 1. Secuencia
  - Representación de la memoria de programa (Arquitectura Vonn Neumann).
  - Representación de cómo se ejecuta en el hardware.

> 2. Selección
  - Es la estructura de control que decide si un bloque de programa se ejecuta o no. También permite seleccionar ejecutar un bloque entre un conjunto de opciones.
  - En resumen tenemos: Selección simple, selección con bifuración y selección múltiple.

> 3. Repetición
  - Este tipo de estructura nos permite automatizar, la ejecución repetitiva de código mientras ciertas condiciones se cumplan. Tenemos 3 variantes de esta estructura en TODOS los lenguajes de programación:
    - **for** (desde ... hasta)
    - **while** (haz mientras...)
    - **do - while** (haz y luego validas mientras... )

#Selección Simple

La estructura if:
```
if <CONDICION> :
  <CUERPO DEL IF>
```
Si la condición se cumple, se pasa al cuerpo del if

**Para establecer el cuerpo de una estructura de control en Python se usan los tabuladores** a la izq. 

En otros programas como java, C y C++ se usan { }
```
int edad=0;
printf("Dame tu edad");
scanf("%i", &edad);
if (edad >=18){
    printf("Eres mayor de edad");
    }
printf("Fin de programa")
```

In [17]:
#Selección Simple

age = int(input("What's your age? "))
print(f"You are {age} years old")

if age >= 21 : 
  print("You're old enough") #El tabulador de aquí indica que esta línea pertenece al if
else : print("Bye bye")

print ("End of program")

What's your age? 29
You are 29 years old
You're old enoguh
End of program

In [19]:
CAL = float(input("Cuál es la calificación? "))
if CAL >8 :
    print("Aprobado")

Cuál es la calificación? 8.5
Aprobado

In [25]:
SUE = float(input("Cuál es el sueldo? "))
if SUE<1000 :
    AUM = SUE*1.15
    print(AUM)

Cuál es el sueldo? 875.50
1006.8249999999999