<a href="https://colab.research.google.com/github/KariGG/CyP2022G1157/blob/main/Ejercicios.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#2.1
Dada la calificación, el programa escribe aprobado si es mayor a 8

In [9]:
CAL = float(input("Dame una calificación: "))
if CAL >= 8:
    print("Aprobado")
else:
    print("No aprobado")
print("Fin del programa")

Dame una calificación: 6.3
No aprobado
Fin del programa

#2.2
Dado como dato el sueldo de un trabajador, aplíquele un aumento del 15% si su sueldo es inferior a $1000. Imprima en este caso el nuevo sueldo del trabajador.

In [18]:
SUE = float(input("Dame un sueldo: "))
if SUE < 1000:
    NSUE = SUE + SUE*.15
print(NSUE)
print("Fin del programa")

Dame un sueldo: 875.50
1006.825

#2.3
Dada la calificación, el programa escribe 'aprobado' si es mayor a 8 y 'reprobado' en caso contrario

In [24]:
CAL = float(input("Dame una calificación: "))
if 10 >= CAL >= 8:
    print("Aprobado")
elif 10 >= CAL >= .1:
    print("No aprobado")
else:
    print("Error")
print("Fin del programa")

Dame una calificación: 11
Error
Fin del programa

#2.4
Dado como dato el sueldo de un trabajador, le aplique un aumento del 15% si su sueldo es inferior a $1000 y 12% en caso contrario. Imprima el nuevo sueldo del trabajador.

In [29]:
SUE = float(input("Dame un sueldo: "))
if SUE < 1000:
    AUM = SUE*.15
else:
    AUM = SUE*.12
NSUE = SUE + AUM
print("El nuevo sueldo es:", NSUE)
print("** Fin del programa **")

Dame un sueldo: 930.80
El nuevo sueldo es: 1070.4199999999998
** Fin del programa **

#2.7
Como datos dos variables de tipo entero, obtenga el resultado de la función:

In [36]:
V = int(input("Dame un valor: "))
NUM = int(input("Dame un número: "))

if NUM == 1: 
    VAL = 100*V
elif NUM == 2:
    VAL = 100**V
elif NUM == 3:
    VAL = 100/V
else:
    VAL = 0
print(VAL)
print("--- Fin del programa ---")

Dame un valor: 3
Dame un número: 2
1000000
--- Fin del programa ---

#2.8
Dado como datos la categoría y el sueldo de un trabajador, calcule el aumento correspondiente teniendo en cuenta la tabla. Imprima la categoría del trabajador y su nuevo sueldo.
- 1 - 15
- 2 - 10
- 3 - 8
- 4 - 7

In [42]:
CAT = int(input("Introduzca la categoría (del 1 al 4): "))
SUE = int(input("¿Cuál es el sueldo?: "))

if CAT == 1:
    AUM = SUE * .15
elif CAT == 2:
    AUM = SUE * .10
elif CAT == 3:
    AUM = SUE * .08
elif CAT == 4:
    AUM = SUE * .07
else:
    print("Error")
NSUE = SUE + AUM
print("El nuevo sueldo es: ", NSUE)

Introduzca la categoría (del 1 al 4): 3
¿Cuál es el sueldo?: 3800
El nuevo sueldo es:  4104.0

#2.12
Dados los datos A, B y C que representan números enteros diferentes, construya un diagrama de flujo para escribir estos números en forma descendente.

In [62]:
A = int(input("Dame un número: "))
B = int(input("Dame otro número: "))
C = int(input("Dame un número más: "))

if A > B:
    if A > C:
        if B > C:
            M = A
            mm = B
            m = C
        else:
            M = A
            mm = C
            m = B
    else:
        mm = A
        M = C
        m = B
else:
    if B > C:
        if A > C:      
          M = B
          mm = A
          m = C
        else:
            M = B
            m = A
            mm = C
    else:
        mm = B
        M = C
        m = A
print(M,mm,m)

Dame un número: 1
Dame otro número: 5
Dame un número más: 0
5 1 0

In [124]:
A = int(input("Dame un número: "))
B = int(input("Dame otro número: "))
C = int(input("Dame un número más: "))

if A > B and A > C:
    M = A
    if B > C:
        mm = B
        m = C
    else:
        mm = C
        m = B
elif B > C:
    M = B
    if C > A:
        mm = C
        m = A
    else:
        mm = A
        m = C
elif C > B and B > A:
    M = C
    mm = B
    m = A
else:
    M = C
    mm =A
    m = B
print(M,mm,m)

Dame un número: 1
Dame otro número: 6921
Dame un número más: 321
6921 321 1